body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

h1 {
    color: teal;
    text-align: center;
}

p, ul li {
    font-size: 1.1em;
    /* margin-bottom: 15px; */
}

a {
    text-decoration: none;
    color:purple;
}

#main-content {
    width: 80vh;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px auto;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#main_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#bio-text {
    grid-column: 1 / span 3;
}

#profile-image {
    grid-column: 1;
}

#interests-list {
    grid-column: 2 / span 2;
}